<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # Send Requests To Front Controller...
    RewriteCond %{REQUEST_URI} !(\.csv|\.css|\.js|\.png|\.jpg|\.svg|\.gif|\.pdf|\.doc|\.docx|\.txt|robots\.txt)$ [NC]
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]

    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_URI} !^/public/
    RewriteRule ^(admin|css|js|images|img|fonts|plugins|uploads)/(.*)$ public/$1/$2 [L,NC]
    RewriteRule ^(front|css|js|images|img|webfonts)/(.*)$ public/$1/$2 [L,NC]
    RewriteRule ^(front_user)/(.*)$ public/$1/$2 [L,NC]
    RewriteRule ^(uploads|css|js|images|img|fonts)/(.*)$ public/$1/$2 [L,NC]
</IfModule>
